<div class="registration-design" [ngClass]="(getTheme() | async) === 'theme1' ? 'theme1' : 'theme2'">
    <img class="logo" src="assets/images/web-shop-logo-blue.png" *ngIf="(getTheme() | async) === 'theme1'"/>
    <img class="logo-theme2" src="assets/images/web-shop-logo-yellow.png"  *ngIf="(getTheme() | async) === 'theme2'"/>
    <h1 class="text-design">{{'REGISTRATION' | translate}}</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
        <mat-form-field style="margin: 2px;">
            <label>{{'FIRST NAME' | translate}}</label>
            <input matInput formControlName="firstName" type="text" >
        </mat-form-field>
    
        <mat-form-field style="margin: 2px;">
            <label>{{'LAST NAME' | translate}}</label>
            <input matInput formControlName="lastName" type="text" >
        </mat-form-field>
        </div>
        <div class="form-row">
        <mat-form-field style="margin: 2px;">
            <label>{{"CITY" | translate}}</label>
            <input matInput formControlName="city" type="text" >
        </mat-form-field>
    
        <mat-form-field style="margin: 2px;">
            <label>{{'EMAIL' | translate}}</label>
            <input  matInput formControlName="email" type="email" >
        </mat-form-field>
        </div>
        <div class="form-row">
        <mat-form-field style="margin: 2px;">
            <label>{{'USERNAME' | translate}}</label>
            <input matInput formControlName="username" type="text" >
        </mat-form-field>
    
        <mat-form-field style="margin: 2px;">
            <label>{{'PASSWORD' | translate}}</label>
            <input matInput formControlName="password" type="password" >
        </mat-form-field>
        </div>
        <div class="last-row">
        <mat-form-field style="margin: 2px;" > 
            <label>{{'CONFIRM PASSWORD' | translate}}</label>
            <input matInput formControlName="confirmPassword" type="password" >
        </mat-form-field>
        <div class="button-align" [ngClass]="(getTheme() | async) === 'theme1' ? 'theme1' : 'theme2'">
            <button mat-button type="submit" style="margin: 2px;" class="button-design">{{'SUBMIT' | translate}}</button>
        </div>
        
         </div>
    </form>
    <label>{{info}}</label>
</div>
