<div class="display" [ngClass]="(getTheme()| async) === 'theme1' ? 'theme1' : 'theme2'">
    <img src="assets/images/web-shop-logo-white.png" class="image" *ngIf="(getTheme() | async) === 'theme1'" (click)="goToBaseUrl()">
    <img class="logo-theme2" src="assets/images/web-shop-logo-theme2.png"  *ngIf="(getTheme() | async) === 'theme2'" (click)="goToBaseUrl()"/>
    <h1>INBOX</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>{{'SUBJECT' | translate}}</th>
            <th>{{'STATUS' | translate}}</th>
            <th>{{'SENDER' | translate}}</th>
            <th>{{'ACTION' | translate}}</th>
        </tr>
            <tr *ngFor="let message of messages">
                <td>{{message.id}}</td>
                <td>{{message.subject}}</td>
                <td *ngIf="message.seen">{{'SEEN' | translate}}</td>
                <td *ngIf="!message.seen">{{'UNSEEN' | translate}}</td>
                <td>{{message.userUsername}}</td>
                <td><button (click)="viewMessage(message)">{{'VIEW' | translate}}</button></td>
            </tr>
      
    </table>
    </div>