<div class="login-design" [ngClass]="(getTheme() | async) === 'theme1' ? 'theme1' : 'theme2'">
    <img class="logo" src="assets/images/web-shop-logo-blue.png" (click)="navigateOnHome()" *ngIf="(getTheme() | async) === 'theme1'"/>
    <img class="logo-theme2" src="assets/images/web-shop-logo-yellow.png" (click)="navigateOnHome()" *ngIf="(getTheme() | async) === 'theme2'"/>
<h1 class="text-design">{{'LOGIN' | translate}}</h1>
<form (ngSubmit)="onSubmit()" class="form-design" [ngClass]="(getTheme() | async) === 'theme1' ? 'theme1' : 'theme2'">
    
    <mat-form-field>
            <mat-label for="username">{{"USERNAME" | translate}}</mat-label>
            <input matInput type="text" name="username" id="username" [(ngModel)]="username" required> 
    </mat-form-field>
    
    <mat-form-field>
        <mat-label for="password">{{"PASSWORD" | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" id="password" [(ngModel)]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    </mat-form-field>
     
    <button mat-button type="submit" class="button-design">
            <mat-label class="label-design">{{'LOGIN' | translate}}</mat-label>
    </button>
    
</form>
<!-- <div>
    <label> {{loggedUser}}</label>
</div> -->

</div>
