<h2>{{'CREATE NEW USER' | translate}}</h2>
    <form (ngSubmit)="onSave()"  style="display:flex;flex-direction:row">
    	<div class="display">
        <label for="firstName">{{'FIRST NAME' | translate}}</label>
        <input type="text" id="firstName" name="firstName" required [(ngModel)]="firstName"><br>
        
        <label for="lastName">{{'LAST NAME' | translate}}</label>
        <input type="text" id="lastName" name="lastName" required [(ngModel)]="lastName"><br>
        
        <label for="city">{{'CITY' | translate}}</label>
        <input type="text" id="city" name="city" required [(ngModel)]="city"><br>
        </div>
         <div class=display>
        <label for="email">{{'EMAIL' | translate}}</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email"><br>
       
        <label for="pin">PIN:</label>
        <input type="text" id="pin" name="pin" required [(ngModel)]="pin"><br>
        
        <label for="active">{{'ACTIVE'}}</label>
        <input type="checkbox" id="active" name="active" [(ngModel)]="active"><br>
        </div>
        <div class="display">
        <label for="username">{{'USERNAME' | translate}}</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username"><br>
        
        <label for="password">{{'PASSWORD' | translate}}</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password"><br>
        <div class="display">
        <button (click)="onCancel()">{{'CANCEL' | translate}}</button>
        <button type="submit">{{'SAVE' | translate}}</button>
        </div>
        </div>
    </form>